body {
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Helvetica;
    margin: 0;
    width: 100%;
    height: 100vh;
  }
  header {
    width: 100%;
    height: 50px;
    background-color: #22224b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
  }
  h1 {
    margin: 1em auto;
    text-align: center;
  }
  label, input{
    display:inline-block;
    text-align:center;
 }
  input {
    font-size: 1rem;
    margin:10px 0 0 0;
    width: 100%;
    border: 1px solid #0a0a23;
    min-height: 2em;
  }
  label{
    display: block;
    margin: 0.5rem 0;
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  button {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  
  .Username{
    margin:auto;
    padding:10px;
  }
  .key{
    margin:auto;
    padding-right:20px;
  }
  